.body{
    line-height: 2;
    font-family: 'Lato', sans-serif;
}

.site-header{
    background: url(../img/header.jpg);

    height: 100vh; /*hace que la imagen se acopla a la pantalla*/

    background-position: center center; /*se centra horizontal y verticalmente*/
    background-size: cover;
}
.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.site-header h1{
    color: white;
    padding-bottom: 30px;
    max-width: 600px;
}

.barra{
    display: flex; /*hace que ocupe a la barra*/
    justify-content: space-between;
    align-items: center;

    padding: 2rem; /**/
}

.navegacion a{
        text-decoration: none;
        color: white;
        margin-right: 10px;
}

.navegacion a :last-of-type{
    margin: 0; /*eliminar lo naranjita que aparece*/
}

.navegacion a:hover {
    color: darkgreen;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor-iconos{
    display: flex;
    justify-content: space-around;

}

.icono{
    flex-basis: calc( 33.3% - 10px);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.icono h3{
    text-transform: uppercase;
    font-size: 32px;
}

.icono h3, .icono p{
    padding-top :0;
    padding-bottom: 0;
}

.icono p{
    margin-bottom: 30px;
}

.titulo-nosotros{
    text-align: center;
    font-size: 24px;
    
}

.titulo-nosotros h2{
    font-weight: 300;
}

.contenedor-anuncios {
    display: flex;
    justify-content: space-between;

}
.contenedor-anuncios img{
    width: 100%;

}
.anuncio{
    flex-basis: calc(33.3% - 10px);
    border: 1px solid gray;
    background-color: #f5f5f5;
    margin-bottom: 35px;
    
}
.anuncio

.contenido-anuncio{
    padding: 40px 20px;
     
}

.contenido-anuncio h3{
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.precio{
    color: #71B100;
}

.boton{
    text-decoration: none;
    padding: 10px 25px;
    color: white;
    font-size: 16px;
    width: 250px;
    display: block;
    text-align: center;
}

.anuncio a{
    margin: 0 auto;

}

.boton-naranja{
    background-color: #e08709;
}
.boton-verde{
    background-color: #71B100;
}

.comodidades{
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex: 1;
}

.comodidades li {
    display: flex;
}

.comodidades li img {
    margin-right: 20px;

}

.contenedor-ver-todas{
    display: flex;
    justify-content: end;

}
